h1 {
    font-weight: 1000;
    font-family: Fantasy;
    text-align: center;
    color: rgb(243, 238, 238);
}

body {
    background-color: #292828;
    margin: 20px;
}

h2, p, ul {
    color: beige;
}

img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

a {
    color: red;
}

a:visited, a:focus, a:hover {
    color: darkred;
}

main {
    background-color: #6f6f6f;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}