h1 {
    font-weight: 1000;
    font-family: Fantasy;
    text-align: center;
    color: black;
}

h2, p {
    color: beige;
}

img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

a {
    color: #a4eeeb
}

section {
    background-color: #6f6f6f;
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}